
@{
    ViewBag.Title = "EmployerVerifyAccount";
}

<h2>EmployerVerifyAccount</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong>
        Your account has been created successfully. Click here to proceed @Html.ActionLink("Login", "Login", "User")
    </div>
}
else
{
    <div class="alert alert-danger ">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}

